@import "tailwindcss";

.banner_bg {
  background-image: url("./assets/images/bannerbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
html {
  scroll-behavior: smooth;
}
